# Скопируй этот файл: cp .env.example .env
# Заполни своими значениями, .env НЕ заливается в git!

# База данных
POSTGRES_DB=kafedra
POSTGRES_USER=kafedra_user
POSTGRES_PASSWORD=сюда_сильный_пароль

# Бэкенд
SECRET_KEY=сюда_секретный_ключ

# Telegram бот Максима
BOT_TOKEN=сюда_токен_бота
